<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    <div class ="container">
        <div class ="logo-part">
            
            <img  class="imagecontainer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCTHTqczYF0PdUYLZ0gtvBFae-VNSFQ6XAmg&usqp=CAU"   alt="Bakery">
            <p>Baked in Heaven</p>

        </div>
        <div class =login-part>
            <div class ="login-form">
                <form id="login">
                    <label class=login-label>Username</label>
                    <br>
                    <input class="inp" type ="text" placeholder="Username"   required><br><br>
                    <label class="login-label">Password</label>y
                    <br>
                    <input class="inp" type = "Password" placeholder="Password"  required><br><br>
                    <button id ="login-button">Login</button>
                    <h4>or</h4>
                    <button id="signup-button">Signup</button>
                </form>    
            </div>
            <div class="bakery-details">
                <img src="https://static.toiimg.com/photo/48201473.cms" alt="Bakery" class ="bakeryimage">
                <div class="contact">
                    <h4>Email : {{Email}} <br>Phone :  {{Phone}}</h4>
                </div>

            </div>
        </div>        
            
    </div>
</body>
</html>

